<ul class="flex flex-row flex-wrap justify-end text-sm sm:text-base">
  {{- $currentPage := . -}}
  {{- range .Site.Menus.main.ByWeight -}}
  <li class="inline-block ml-3 first:ml-0 sm:ml-4 {{if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }}active{{ end }}{{ if .HasChildren }} dropdown{{ end }}">
    <a href="{{ .URL }}" class="inline-block py-2 text-primaire hover:text-tertiaire">{{ .Title }}{{ if .HasChildren }} <span>&darr;</span>{{ end }}</a>
    {{- if .HasChildren -}}
    <ul class="dropdown-list">
      {{- range .Children.ByWeight -}}
      <li {{ if .HasChildren }}class="dropdown"{{end}}>
        <a href="{{ .URL }}">{{ .Title }}{{ if .HasChildren }} <span>›</span>{{ end }}</a>
        {{ if .HasChildren }}
        <ul class="dropdown-list">
          {{ range .Children.ByWeight }}
          <li><a href="{{ .URL }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
        {{- end -}}
      </li>
      {{- end -}}
    </ul>
    {{- end -}}
  </li>
  {{- end -}}
</ul>
