<!doctype html>
<html class="no-js bg-fond text-noir {{ block "html-class" . }} {{ end }}" lang="{{ .Page.Lang }}">

  <head>
    {{- partial "head/head.html" . -}}
    {{/* "title" block outside head.html to render on different page types */}}
    <title>{{ block "title" . -}}
      {{ with .Title }}{{ . | markdownify | plainify }} &mdash; {{ end }}{{ .Site.Title }}
      {{- end }}</title>
  </head>

  <body>

    <header class="bg-quaternaire text-secondaire py-4">
      {{- block "header" . }}
      {{- partial "header.html" . -}}
      {{- end -}}
    </header>

    {{- block "main" . }}{{/* Default to article with content */}}
    <main class="text-xl leading-snug">
      {{- block "main-inner" . }}
      <article class="Article content px-6 md:px-16 max-w-5xl py-16">

        <header class="mb-4">
          {{ partial "page-header.html" . -}}
        </header>

        {{- .Content -}}
      </article>
      {{ end -}}
      
      <div class="px-6 md:px-16 max-w-5xl py-8">
        <hr class="border-t-2 border-primaire my-8">
        {{ block "big-menu" . -}}
        {{ partial "menus/big-menu.html" . }}
        {{- end }}
      </div>
    </main>
    {{- end }}

    <footer class="bg-quaternaire text-secondaire py-12">
      {{- block "footer" . }}
      {{- partial "footer.html" . -}}
      {{- end -}}
    </footer>

    <script>
      {{- $espaceFineJS := resources.Get "scripts/espacefine.js" | resources.Minify }}
      {{ $espaceFineJS.Content | safeJS -}}
       // espacefine for French
       if (document.documentElement.getAttribute('lang').match(/^fr/)) {
         espaceFine();
       }
    </script>

  </body>
</html>
