{{ define "html-class"}}page-accueil{{ end }}

{{ define "main" -}}
<header class="Accueil bg-quaternaire text-secondaire px-6 md:px-8 py-20 text-2xl relative">
  <div class="Accueil__Container max-w-3xl z-index-10">

    <div class="Accueil__titre uppercase text-4xl sm:text-5xl md:text-6xl font-bold mt-20">
      {{- $.Site.Title -}}
    </div>
    
    <div class="Accueil__description">
      {{- $.Site.Params.description -}}
    </div>

  </div>

  <figure class="absolute w-1/2 sm:w-1/3"
            style="right: 1rem; bottom: -25%">
    <img src="/publications/numeros/28-automne-2020/sandrine-corbeil-illustration-1.png"
         class="w-full"
         alt="" />
    </figure>
</header>

<main class="px-6 md:px-8 py-10"
      style="background-color: #DCE6EF">
  <article class="content text-2xl md:text-3xl sm:text-xl leading-snug">
    {{- .Content -}}
  </article>
</main>

<section class="px-6 md:px-8 py-10 bg-quaternaire text-secondaire">
  {{ partial "dernier-numero.html" . }}
</section>

<section class="px-6 md:px-8 py-10 flex flex-row flex-wrap">
  <h1 class="mt-10 text-4xl sm:text-5xl md:text-6xl uppercase leading-none font-bold text-quaternaire pr-6">
  {{ $.Site.Title }}</h1>
  <div class="sm:ml-auto">
    {{ partial "menus/big-menu.html" . }}
  </div>
</section>
{{- end }}