// Do not redistribute these, please.

@font-face {
  font-family: 'FedraSans';
  src: url('/fonts/fedra-sans/FedraSansStd-Normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FedraSans';
  src: url('/fonts/fedra-sans/FedraSansStd-NormalItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'FedraSans';
  src: url('/fonts/fedra-sans/FedraSansStd-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'FedraSans';
  src: url('/fonts/fedra-sans/FedraSansStd-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}