<nav class="Breadcrumbs text-secondaire text-base sm:text-lg py-2">
  
  {{- $home := $.Site.Home -}}
  
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}

  {{ define "breadcrumbnav" }}

  {{ if .p1.Parent }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
  {{ end }}

  {{ if not (eq .p1 .p2) }}
  {{ if .p1.IsHome }}
  <a href="{{ .p1.Permalink }}"
     class="text-secondaire"
     >accueil</a>
  {{ else }}
  <a href="{{ .p1.Permalink }}"
     class="text-secondaire"
     >{{ .p1.Title | markdownify -}}
  </a> 
  {{ end }}
  <span class="mx-1">&#32;{{ .Site.Params.breadcrumbSeparator | default "/" }}&#32;</span>
  {{ else }}
  <a href="{{ .p1.Permalink }}"
     class="text-secondaire"
     >
    {{ .p1.Title | markdownify }}
  </a>
  {{ end }}{{/* END if not parent */}}

  {{ end }}{{/* END define */}}

</nav>
