<nav class="sm:flex sm:flex-row justify-between px-6 md:px-8">
  <div role="contentinfo"
       class="mb-6 sm:mb-0">
    {{- if .Site.Copyright }}
    {{- if .Site.Params.colophon }}
    <a href="{{ .Site.Params.colophon | relURL }}"
       rel="license"
       title="kessé ça??"
       class="underline hover:no-underline"
       >
    {{ end -}}
    {{- .Site.Copyright -}}
    {{- if .Site.Params.colophon -}}
    </a>
    {{- end -}}
    {{ end }}
    {{ .Site.Title }}
    ({{ now | dateFormat "2006" }})
  </div>

  <div class="sm:mx-6">
    conception web par <a href="https://loupbrun.ca" class="underline hover:no-underline">Louis-Olivier Brassard</a>
  </div>

  {{- partial "menus/footer-menu.html" . -}}
</nav>
