
/* purgecss start ignore */
::selection {
  background-color: rgba(0, 0, 0, 0.15);
}

.content {
  a {
    color: theme('colors.primaire');
    text-decoration: underline;
    
    &:hover {
      color: theme('colors.tertiaire');
      text-decoration: none;
    }
  }
  
  strong {
    font-weight: 700;
    color: theme('colors.secondaire');
  }
  
  em {
    font-style: italic;
  }
  
  p {
    margin-bottom: 1.5em;
  }
  
  hr {
    @apply border-t-2 border-primaire my-6;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }
  
  h1 {
    @apply text-3xl;
    @screen sm {
      @apply text-6xl;
    }
  }
  
  h2 {
    @apply text-2xl;
    
    @screen sm {
      @apply text-4xl;
    }
  }
  
  h3 {
    @apply text-xl;
    @screen sm {
      @apply text-2xl;
    }
  }
  
  ul {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-left: 1.25em;
    list-style-type: '– ';
  }
}

blockquote {
  @apply border-l-4 border-primaire pl-8 text-secondaire;
  margin-top: 1em;
  margin-bottom: 1em;
}

.Article {
  @apply bg-blanc;

  @screen sm {
    @apply m-2;
  }
  @screen md {
    @apply m-8;
  }
}
/* purgecss end ignore */
